@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
