
.container {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 40px;
  border: 1px solid black;
  transition: background .2s ease-in;

  h4 {
    font-family: 'Roboto Mono', monospace;
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }

  &:hover {
    cursor: pointer;
    background: black;
    color: white;
  }
}
