.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 50px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Kaisei HarunoUmi', serif;
}

.main .loreContainer {
    padding: 50px 0;
}

.main .loreContainer h3 {
    opacity: 0.5;
}

.main .title, .subtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

.main .subtitle {
    opacity: 0.5;
    font-weight: 300;
}

.main p {
    margin-bottom: 50px;
    font-size: 50px;
}

@media only screen and (max-width: 1080px) {
    .main p {
        font-size: 32px;
    }
}

@media only screen and (max-width: 600px) {
    .main p {
        font-size: 24px;
    }
}



.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.links .subtitle {
    opacity: 50%;
    margin-bottom: 10px;
}

.links a {
    margin-right: 20px;
    font-weight: 600;
}

.links a:last-child {
    margin-right: 0;
}

.links .linkRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
